{% extends 'base.html' %}
{% load static %}

{% block title %}
    О нас
{% endblock %}


{% block content %}
<section class="section">
    <div class="container">
        <div class="about__body">
            <h2 class="about__header-title">О нас</h2>
            <p class="about__body-text">
                360Media - это онлайн-кинотеатр, который предлагает своим пользователям широкий выбор фильмов и сериалов, а также возможность смотреть их бесплатно. Создатели 360Media горят идеей продвижения своего продукта, чтобы привлечь как можно больше зрителей.
На сайте 360Media вы найдете множество различных жанров, от классических фильмов до самых последних новинок. Каждый фильм или сериал доступен для просмотра в высоком качестве.
360Media также предлагает своим пользователям возможность создавать свои собственные плейлисты с любимыми фильмами и сериалами, которые можно просматривать в любое время.
Создатели 360Media уверены, что их онлайн-кинотеатр станет любимым местом для всех любителей кино и сериалов. Они стремятся предоставить зрителям качественный контент и удобный интерфейс, чтобы каждый мог насладиться просмотром любимых фильмов и сериалов в любое время и в любом месте.
                Если у вас есть какие-то замечания, пожелания или хотите сотрудничать пишите на почту 360_media@mail.ru
            </p>
        </div>
    </div>
</section>
{% endblock %}