{% extends 'base.html' %}
{% load static %}

{% block title %}
    Политика конфиденциальности
{% endblock %}


{% block content %}
<section class="section">
    <div class="container">
        <div class="about__body">
            <h2 class="about__header-title">Политика конфиденциальности</h2>
            <p class="about__body-text">
                1. ЦЕЛИ, ПРАВОВЫЕ ОСНОВАНИЯ И СРОКИ ХРАНЕНИЯ ПЕРСОНАЛЬНЫХ ДАННЫХ
Посещая онлайн-кинотеатр 360Media, вы предоставляете нам некоторые данные. Данные, которые мы можем обрабатывать, не позволяют идентифицировать вас как конкретное физическое лицо. Зато эти данные позволяют нам общаться с вами (например, уведомлять об обновлениях), а вам — эффективно пользоваться онлайн-кинотеатром (например, сохранять одни и те же настройки при каждом входе). Все цели использования данных, полученных от вас, указаны в Политике приватности.
            </p>
        </div>
    </div>
</section>
{% endblock %}